<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="32px"
     fxLayoutAlign="flex-start">

  <div *ngIf="chartData.length > 0" fxFlex="0 1 calc(49% - 32px)">
    <canvas
      baseChart height="500" width="10"
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  <div *ngIf="chartData.length > 0" fxFlex="0 1 calc(49% - 32px)">
    <canvas
      baseChart height="500" width="10"
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  <div *ngIf="chartData.length > 0" fxFlex="0 1 calc(49% - 32px)">
    <canvas
      baseChart height="500" width="10"
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  <div *ngIf="chartData.length > 0" fxFlex="0 1 calc(49% - 32px)">
    <canvas
      baseChart height="500" width="10"
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
    </canvas>
  </div>
</div>
