<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/twitter?useTimezone=true&amp;serverTimezone=Europe/Athens&amp;useSSL=false&amp;jdbcCompliantTruncation=false</property>
        <property name="hibernate.connection.username">dev</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
     <!--   <property name="hibernate.show_sql">true</property>  -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!--<mapping resource="book.hbm.xml" />  -->
        <mapping class="com.example.ui.TwitterAnalytics.Models.Trend"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.Tweet"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.Hashtag"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.TrendSentiment"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.TrendsList"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.Reply"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.Retweet"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.Retweeter"/>
        <mapping class="com.example.ui.TwitterAnalytics.Models.HubRetweeter"/>

    </session-factory>
</hibernate-configuration>